<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="userMenu">
    <a href="{:U('User/index',array('act'=>$action))}" class="curs">
        <switch name="action">
            <case value="default">
                <img src="{$Think.const.SHOP_IMG_URL}u1.gif" /> {$lang.label_welcome}
            </case>
            <case value="profile">
                <img src="{$Think.const.SHOP_IMG_URL}u2.gif" /> {$lang.label_profile}
            </case>
            <case value="order_list">
                <img src="{$Think.const.SHOP_IMG_URL}u3.gif" /> {$lang.label_order}
            </case>
            <case value="order_detail">
                <img src="{$Think.const.SHOP_IMG_URL}u3.gif" /> {$lang.label_order}
            </case>
            <case value="address_list">
                <img src="{$Think.const.SHOP_IMG_URL}u4.gif" /> {$lang.label_address}
            </case>
            <case value="collection_list">
                <img src="{$Think.const.SHOP_IMG_URL}u5.gif" /> {$lang.label_collection}
            </case>
            <case value="message_list">
                <img src="{$Think.const.SHOP_IMG_URL}u6.gif" /> {$lang.label_message}
            </case>
            <case value="tag_list">
                <img src="{$Think.const.SHOP_IMG_URL}u7.gif" /> {$lang.label_tag}
            </case>
            <case value="booking_list">
                <img src="{$Think.const.SHOP_IMG_URL}u8.gif" /> {$lang.label_booking}
            </case>
            <case value="bonus">
                <img src="{$Think.const.SHOP_IMG_URL}u9.gif" /> {$lang.label_bonus}
            </case>
            <case value="affiliate">
                <img src="{$Think.const.SHOP_IMG_URL}u10.gif" /> {$lang.label_affiliate}
            </case>
            <case value="comment_list">
                <img src="{$Think.const.SHOP_IMG_URL}u11.gif" /> {$lang.label_comment}
            </case>
            <case value="track_packages">
                <img src="{$Think.const.SHOP_IMG_URL}u12.gif" /> {$lang.label_track_packages}
            </case>
            <case value="account_deposit">
                <img src="{$Think.const.SHOP_IMG_URL}u13.gif" /> {$lang.label_user_surplus}
            </case>
            <case value="account_repay">
                <img src="{$Think.const.SHOP_IMG_URL}u13.gif" /> {$lang.label_user_surplus}
            </case>
            <case value="account_detail">
                <img src="{$Think.const.SHOP_IMG_URL}u13.gif" /> {$lang.label_user_surplus}
            </case>
            <case value="account_log">
                <img src="{$Think.const.SHOP_IMG_URL}u13.gif" /> {$lang.label_user_surplus}
            </case>
            <case value="transform_points">
                <img src="{$Think.const.SHOP_IMG_URL}u14.gif" /> {$lang.label_transform_points}
            </case>
            <default/>
        </switch>
    </a>
    <a href="{:U('User/index',array('act'=>'logout'))}" style="background:none; text-align:right; margin-right:10px;"><img src="{$Think.const.SHOP_IMG_URL}bnt_sign.gif" /></a>
</div>
