<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="box">
    <div class="box_2">
        <div class="top10Tit"></div>
        <div class="top10List clearfix">
            <foreach name="top_goods" item="goods" key="key">
                <ul class="clearfix">
                    <img src="{$Think.const.SHOP_IMG_URL}/top_{$key+1}.gif" class="iteration" />
                    <if condition="$key lt 3">
                        <li class="topimg">
                            <a href="{$goods.url}"><img src="{$goods.thumb}" alt="{$goods.name}" class="samllimg" /></a>
                        </li>
                        <li class="iteration1">
                            <a href="{$goods.url}" title="{$goods.name}">{$goods.short_name}</a>
                            <br /> {$lang.shop_price}
                            <font class="f1">{$goods.price}</font>
                            <br />
                        </li>
                        <else/>
                        <li>
                            <a href="{$goods.url}" title="{$goods.name}">{$goods.short_name}</a>
                            <br /> {$lang.shop_price}
                            <font class="f1">{$goods.price}</font>
                            <br />
                        </li>
                    </if>
                </ul>
            </foreach>
        </div>
    </div>
</div>
<div class="blank5"></div>
