<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="{$keywords}" />
    <meta name="Description" content="{$description}" />
    <!-- TemplateBeginEditable name="doctitle" -->
    <title>{$page_title}首页</title>
    <!-- TemplateEndEditable -->
    <!-- TemplateBeginEditable name="head" -->
    <!-- TemplateEndEditable -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="{$Think.const.SHOP_IMG_URL}animated_favicon.gif" type="image/gif" />
    <link href="{$Think.const.SHOP_CSS_URL}style_pink.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS|{$page_title}" href="{$feed_url}" />
    <!-- {* 包含脚本文件 *}
{insert_scripts files='common.js,index.js'} -->
    <script src='{$Think.const.SHOP_JS_URL}common.js'></script>
    <script src='{$Think.const.SHOP_JS_URL}index.js'></script>
</head>

<body>
    <include file="lbi/page_header" />
    <div class="blank">
    </div>
    <div class="block clearfix">
        <!--left start-->
        <div class="AreaL">
            <!--站内公告 start-->
            <div class="box">
                <div class="box_1">
                    <h3><span>{$lang.shop_notice}</span></h3>
                    <div class="boxCenterList RelaArticle">
                        {$lang['shop_notice']} {$shop_notice}
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!--站内公告 end-->
            <!-- <include file="lbi/cart"/> -->
            <script src='{$Think.const.SHOP_JS_URL}transport.js'></script>
            <div class="cart" id="ECS_CARTINFO">
                {$cart_info}
            </div>
            <div class="blank5"></div>
            <!-- <include file="lbi/category_tree" /> -->
            <div class="box">
                <div class="box_1">
                    <div id="category_tree">
                        <foreach name="categories" item="cat" key="key">
                            <dl>
                                <dt><a href="{$cat.url}">{$cat.name}</a></dt>
                                <foreach name="cat['cat_id']" item="child" key="cid_key">
                                    <dd><a href="{$child.url}">{$child.name}</a></dd>
                                    <foreach name="child['cat_id']" item="childer" key="chi_key">
                                        <dd>&nbsp;&nbsp;<a href="{$childer.url}">{$childer.name}</a></dd>
                                    </foreach>
                                </foreach>
                            </dl>
                        </foreach>
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- <include file="lbi/top10" /> -->
            <div class="box">
                <div class="box_2">
                    <div class="top10Tit"></div>
                    <div class="top10List clearfix">
                        <notempty name="top_goods">
                            <foreach name="top_goods" item="goods" key="key">
                                <ul class="clearfix">
                                    <img src="{$Think.const.SHOP_IMG_URL}/top_{$key+1}.gif" class="iteration" />
                                    <if condition="$key lt 3">
                                        <li class="topimg">
                                            <a href="{$goods.url}"><img src="{$goods.thumb}" alt="{$goods.name}" class="samllimg" /></a>
                                        </li>
                                        <li class="iteration1">
                                            <a href="{$goods.url}" title="{$goods.name}">{$goods.short_name}</a>
                                            <br /> {$lang.shop_price}
                                            <font class="f1">{$goods.price}</font>
                                            <br />
                                        </li>
                                        <else/>
                                        <li>
                                            <a href="{$goods.url}" title="{$goods.name}">{$goods.short_name}</a>
                                            <br /> {$lang.shop_price}
                                            <font class="f1">{$goods.price}</font>
                                            <br />
                                        </li>
                                    </if>
                                </ul>
                            </foreach>
                        </notempty>
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- <include file="lbi/promotion_info" /> -->
            <notempty name="promotion_info">
                <div class="box">
                    <div class="box_1">
                        <h3><span>{$lang.promotion_info}</span></h3>
                        <div class="boxCenterList RelaArticle">
                            <foreach name="promotion_info" item="item" key="key">
                                <switch name="item.type">
                                    <case name="snatch">
                                        <a href="snatch.php" title="{$lang.$item.type}">{$lang.snatch_promotion}</a>
                                    </case>
                                    <case name="group_buy">
                                        <a href="group_buy.php" title="{$lang.$item.type}">{$lang.group_promotion}</a>
                                    </case>
                                    <case name="auction">
                                        <a href="auction.php" title="{$lang.$item.type}">{$lang.auction_promotion}</a>
                                    </case>
                                    <case name="favourable">
                                        <a href="activity.php" title="{$lang.$item.type}">{$lang.favourable_promotion}</a>
                                    </case>
                                    <case name="package">
                                        <a href="package.php" title="{$lang.$item.type}">{$lang.package_promotion}</a>
                                    </case>
                                    <default/>
                                </switch>
                                <a href="{$item.url}" title="{$lang.$item.type} {$item.act_name}{$item.time}" style="background:none; padding-left:0px;">{$item.act_name}</a>
                                <br />
                            </foreach>
                        </div>
                    </div>
                </div>
                <div class="blank5"></div>
            </notempty>
            <!-- <include file="lbi/order_query" /> -->
            <empty name="order_query">
                <script>
                var invalid_order_sn = "{$lang.invalid_order_sn}"
                </script>
                <div class="box">
                    <div class="box_1">
                        <h3><span>{$lang.order_query}</span></h3>
                        <div class="boxCenterList">
                            <form name="ecsOrderQuery">
                                <input type="text" name="order_sn" class="inputBg" />
                                <br />
                                <div class="blank5"></div>
                                <input type="button" value="{$lang.query_order}" class="bnt_blue_2" onclick="orderQuery()" />
                            </form>
                        </div>
                    </div>
                </div>
                <else/>
                <div id="ECS_ORDER_QUERY" style="margin-top:8px;">
                    <notempty name="order_query['user_id']">
                        <b>{$lang.order_number}：</b><a href="user.php?act=order_detail&order_id={$order_query.order_id}" class="f6">{$order_query.order_sn}</a>
                        <br>
                        <else/>
                        <b>{$lang.order_number}：</b>{$order_query.order_sn}
                        <br>
                    </notempty>
                    <b>{$lang.order_status}：</b>
                    <br>
                    <font class="f1">{$order_query.order_status}</font>
                    <br>
                    <notempty name="order_query['invoice_no']">
                        <b>{$lang.consignment}：</b>{$order_query.invoice_no}
                        <br>
                    </notempty>
                    <notempty name="order_query['shipping_date']">
                        <b>{$lang.shipping_date}: </b>{$order_query.shipping_date}
                        <br>
                    </notempty>
                </div>
            </empty>
            <div class="blank5"></div>
            <!-- <include file="lbi/invoice_query" /> -->
            <notempty name="invoice_list">
                <style type="text/css">
                .boxCenterList form {
                    display: inline;
                }
                
                .boxCenterList form a {
                    color: #404040;
                    text-decoration: underline;
                }
                </style>
                <div class="box">
                    <div class="box_1">
                        <h3><span>{$lang.shipping_query}</span></h3>
                        <div class="boxCenterList">
                            <foreach name="invoice_list" item="invoice" key="key">
                                {$lang.order_number} {$invoice.order_sn}
                                <br /> {$lang.consignment} {$invoice.invoice_no}
                                <div class="blank"></div>
                            </foreach>
                        </div>
                    </div>
                </div>
                <div class="blank5"></div>
            </notempty>
            <include file="lbi/vote_list" />
            <!-- <include file="lbi/email_list" /> -->
            <div class="box">
                <div class="box_1">
                    <h3><span>{$lang.email_subscribe}</span></h3>
                    <div class="boxCenterList RelaArticle">
                        <input type="text" id="user_email" class="inputBg" />
                        <br />
                        <div class="blank5"></div>
                        <input type="button" class="bnt_blue" value="{$lang.email_list_ok}" onclick="add_email_list();" />
                        <input type="button" class="bnt_bonus" value="{$lang.email_list_cancel}" onclick="cancel_email_list();" />
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <script type="text/javascript">
            var email = document.getElementById('user_email');

            function add_email_list() {
                if (check_email()) {
                    Ajax.call('user.php?act=email_list&job=add&email=' + email.value, '', rep_add_email_list, 'GET', 'TEXT');
                }
            }

            function rep_add_email_list(text) {
                alert(text);
            }

            function cancel_email_list() {
                if (check_email()) {
                    Ajax.call('user.php?act=email_list&job=del&email=' + email.value, '', rep_cancel_email_list, 'GET', 'TEXT');
                }
            }

            function rep_cancel_email_list(text) {
                alert(text);
            }

            function check_email() {
                if (Utils.isEmail(email.value)) {
                    return true;
                } else {
                    alert('{$lang.email_invalid}');
                    return false;
                }
            }
            </script>
            <!-- TemplateEndEditable -->
        </div>
        <!--left end-->
        <!--right start-->
        <div class="AreaR">
            <div class="box clearfix">
                <div class="box_1 clearfix">
                    <div class="f_l" id="focus">
                        <include file="lbi/index_ad" />
                    </div>
                    <div id="mallNews" class="f_r">
                        <div class="NewsTit"></div>
                        <div class="NewsList tc">
                            <include file="lbi/new_articles" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!--今日特价，品牌 start-->
            <div class="clearfix">
                <!--特价-->
                <include file="lbi/recommend_promotion" />
                <!--品牌-->
                <div class="box f_r brandsIe6">
                    <div class="box_1 clearfix" id="brands">
                        <include file="lbi/brands" />
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- TemplateBeginEditable name="右边主区域" -->
            <!-- #BeginLibraryItem "/library/recommend_best.lbi" -->
            <include file="lbi/recommend_best" />
            <!-- {if $best_goods} -->
            <!-- {if $cat_rec_sign neq 1} -->
            <div class="box">
                <div class="box_2 centerPadd">
                    <div class="itemTit" id="itemBest">
                        {if $cat_rec[1]}
                        <h2><a href="javascript:void(0)" onclick="change_tab_style('itemBest', 'h2', this);get_cat_recommend(1, 0);">{$lang.all_goods}</a></h2> {foreach from=$cat_rec[1] item=rec_data}
                        <h2 class="h2bg"><a href="javascript:void(0)" onclick="change_tab_style('itemBest', 'h2', this);get_cat_recommend(1, {$rec_data.cat_id})">{$rec_data.cat_name}</a></h2> {/foreach} {/if}
                    </div>
                    <div id="show_best_area" class="clearfix goodsBox">
                        <!-- {/if} -->
                        <!--{foreach from=$best_goods item=goods}-->
                        <div class="goodsItem">
                            <span class="best"></span>
                            <a href="{$goods.url}"><img src="{$goods.thumb}" alt="{$goods.name}" class="goodsimg" /></a>
                            <br />
                            <p><a href="{$goods.url}" title="{$goods.name}">{$goods.short_style_name}</a></p>
                            <font class="f1">
                                <!-- {if $goods.promote_price neq ""} -->
                                {$goods.promote_price}
                                <!-- {else}-->
                                {$goods.shop_price}
                                <!--{/if}-->
                            </font>
                        </div>
                        <!--{/foreach}-->
                        <div class="more">
                            <a href="../search.php?intro=best"><img src="{$Think.const.SHOP_IMG_URL}/more.gif" /></a>
                        </div>
                        <!-- {if $cat_rec_sign neq 1} -->
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- {/if} -->
            <!-- {/if} -->
            <!-- #EndLibraryItem -->
            <!-- #BeginLibraryItem "/library/recommend_new.lbi" -->
            <include file="lbi/recommend_new" />
            <!-- {if $new_goods} -->
            <!-- {if $cat_rec_sign neq 1} -->
            <div class="box">
                <div class="box_2 centerPadd">
                    <div class="itemTit New" id="itemNew">
                        {if $cat_rec[2]}
                        <h2><a href="javascript:void(0)" onclick="change_tab_style('itemNew', 'h2', this);get_cat_recommend(2, 0);">{$lang.all_goods}</a></h2> {foreach from=$cat_rec[2] item=rec_data}
                        <h2 class="h2bg"><a href="javascript:void(0)" onclick="change_tab_style('itemNew', 'h2', this);get_cat_recommend(2, {$rec_data.cat_id})">{$rec_data.cat_name}</a></h2> {/foreach} {/if}
                    </div>
                    <div id="show_new_area" class="clearfix goodsBox">
                        <!-- {/if} -->
                        <!--{foreach from=$new_goods item=goods}-->
                        <div class="goodsItem">
                            <span class="news"></span>
                            <a href="{$goods.url}"><img src="{$goods.thumb}" alt="{$goods.name}" class="goodsimg" /></a>
                            <br />
                            <p><a href="{$goods.url}" title="{$goods.name}">{$goods.short_style_name}</a></p>
                            <font class="f1">
                                <!-- {if $goods.promote_price neq ""} -->
                                {$goods.promote_price}
                                <!-- {else}-->
                                {$goods.shop_price}
                                <!--{/if}-->
                            </font>
                        </div>
                        <!--{/foreach}-->
                        <div class="more">
                            <a href="../search.php?intro=new"><img src="{$Think.const.SHOP_IMG_URL}/more.gif" /></a>
                        </div>
                        <!-- {if $cat_rec_sign neq 1} -->
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- {/if} -->
            <!-- {/if} -->
            <!-- #EndLibraryItem -->
            <!-- #BeginLibraryItem "/library/recommend_hot.lbi" -->
            <include file="lbi/recommend_hot" />
            <!-- {if $hot_goods} -->
            <!-- {if $cat_rec_sign neq 1} -->
            <div class="box">
                <div class="box_2 centerPadd">
                    <div class="itemTit Hot" id="itemHot">
                        {if $cat_rec[3]}
                        <h2><a href="javascript:void(0)" onclick="change_tab_style('itemHot', 'h2', this);get_cat_recommend(3, 0);">{$lang.all_goods}</a></h2> {foreach from=$cat_rec[3] item=rec_data}
                        <h2 class="h2bg"><a href="javascript:void(0)" onclick="change_tab_style('itemHot', 'h2', this);get_cat_recommend(3, {$rec_data.cat_id})">{$rec_data.cat_name}</a></h2> {/foreach} {/if}
                    </div>
                    <div id="show_hot_area" class="clearfix goodsBox">
                        <!-- {/if} -->
                        <!--{foreach from=$hot_goods item=goods}-->
                        <div class="goodsItem">
                            <span class="hot"></span>
                            <a href="{$goods.url}"><img src="{$goods.thumb}" alt="{$goods.name}" class="goodsimg" /></a>
                            <br />
                            <p><a href="{$goods.url}" title="{$goods.name}">{$goods.short_style_name}</a></p>
                            <font class="f1">
                                <!-- {if $goods.promote_price neq ""} -->
                                {$goods.promote_price}
                                <!-- {else}-->
                                {$goods.shop_price}
                                <!--{/if}-->
                            </font>
                        </div>
                        <!--{/foreach}-->
                        <div class="more">
                            <a href="../search.php?intro=hot"><img src="{$Think.const.SHOP_IMG_URL}/more.gif" /></a>
                        </div>
                        <!-- {if $cat_rec_sign neq 1} -->
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- {/if} -->
            <!-- {/if} -->
            <!-- #EndLibraryItem -->
            <!-- #BeginLibraryItem "/library/auction.lbi" -->
            <include file="lbi/auction" />
            <!-- {if $auction_list} -->
            <div class="box">
                <div class="box_1">
                    <h3><span>{$lang.auction_goods}</span><a href="auction.php"><img src="{$Think.const.SHOP_IMG_URL}/more.gif"></a></h3>
                    <div class="centerPadd">
                        <div class="clearfix goodsBox" style="border:none;">
                            <!--{foreach from=$auction_list item=auction}-->
                            <div class="goodsItem">
                                <a href="{$auction.url}"><img src="{$auction.thumb}" alt="{$auction.goods_name}" class="goodsimg" /></a>
                                <br />
                                <p><a href="{$auction.url}" title="{$auction.goods_name}">{$auction.short_style_name}</a></p>
                                <font class="shop_s">{$auction.formated_start_price}</font>
                            </div>
                            <!--{/foreach}-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- {/if} -->
            <!-- #EndLibraryItem -->
            <!-- #BeginLibraryItem "/library/group_buy.lbi" -->
            <include file="lbi/group_buy" />
            <!-- {if $group_buy_goods} -->
            <div class="box">
                <div class="box_1">
                    <h3><span>{$lang.group_buy_goods}</span><a href="group_buy.php"><img src="{$Think.const.SHOP_IMG_URL}/more.gif"></a></h3>
                    <div class="centerPadd">
                        <div class="clearfix goodsBox" style="border:none;">
                            <!--{foreach from=$group_buy_goods item=goods}-->
                            <div class="goodsItem">
                                <a href="{$goods.url}"><img src="{$goods.thumb}" alt="{$goods.goods_name}" class="goodsimg" /></a>
                                <br />
                                <p><a href="{$goods.url}" title="{$goods.goods_name}">{$goods.short_style_name}</a></p>
                                <font class="shop_s">{$goods.last_price}</font>
                            </div>
                            <!--{/foreach}-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="blank5"></div>
            <!-- {/if} -->
            <!-- #EndLibraryItem -->
            <!-- TemplateEndEditable -->
        </div>
        <!--right end-->
    </div>
    <div class="blank5"></div>
    <!--帮助-->
    <div class="block">
        <div class="box">
            <div class="helpTitBg clearfix">
                <!-- #BeginLibraryItem "/library/help.lbi" -->
                <!-- #EndLibraryItem -->
                <include file="lbi/help" />
            </div>
        </div>
    </div>
    <div class="blank"></div>
    <!--帮助-->
    <!--友情链接 start-->
    <!--{if $img_links  or $txt_links }-->
    <div id="bottomNav" class="box">
        <div class="box_1">
            <div class="links clearfix">
                <!--开始图片类型的友情链接{foreach from=$img_links item=link}-->
                <a href="{$link.url}" target="_blank" title="{$link.name}"><img src="{$link.logo}" alt="{$link.name}" border="0" /></a>
                <!--结束图片类型的友情链接{/foreach}-->
                <!-- {if $txt_links} -->
                <!--开始文字类型的友情链接{foreach from=$txt_links item=link}-->
                [<a href="{$link.url}" target="_blank" title="{$link.name}">{$link.name}</a>]
                <!--结束文字类型的友情链接{/foreach}-->
                <!-- {/if} -->
            </div>
        </div>
    </div>
    <!--{/if}-->
    <!--友情链接 end-->
    <div class="blank"></div>
    <!-- #BeginLibraryItem "/library/page_footer.lbi" -->
    <!-- #EndLibraryItem -->
    <include file="lbi/page_footer" />
</body>

</html>
