<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<notempty name="brand_list">
    <foreach name="brand_list" item="brand" key="key">
        <if condition="$key lt 11">
            <notempty name="brand['brand_logo']">
                <a href="{$brand.url}"><img src="{$Think.const.SHOP_DATA_URL}brandlogo/{$brand.brand_logo}" alt="{$brand.brand_name} ({$brand.goods_num})" /></a>
                <else/>
                <empty name="brand['goods_num']">
                    <a href="{$brand.url}">{$brand.brand_name}</a>
                    <else/>
                    <a href="{$brand.url}">{$brand.brand_name} ({$brand['goods_num']}) </a>
                </empty>
            </notempty>
        </if>
    </foreach>
    <div class="brandsMore">
        <a href="../brand.php"><img src="{$Think.const.SHOP_IMG_URL}moreBrands.gif" /></a>
    </div>
</notempty>
