<!DOCTYPE html >
<html>

<head>
    <include file="commonhtml/in_head" />
    <script src="{$Think.const.SHOPADM_JS_URL}jquery-2.1.0.min.js" type="text/javascript">
    </script>
    <include file="js_lang_htm/lang_passport_js" />
    <link href="{$ecs_css_path}" rel="stylesheet" type="text/css" />
    <script src='{$Think.const.SHOP_JS_URL}common.js'></script>
    <script src='{$Think.const.SHOP_JS_URL}index.js'></script>
    <script src='{$Think.const.SHOP_JS_URL}transport.js'></script>
    <script src='{$Think.const.SHOP_JS_URL}user.js'></script>

    <body>
        <include file="lbi/page_header" />
        <!--当前位置 start-->
        <div class="block box">
            <div id="ur_here">
                <include file="lbi/ur_here" />
            </div>
        </div>
        <!--当前位置 end-->
        <div class="blank"></div>
        <!--#登录界面 start-->
        <switch name="action">
            <case value="login">
                <include file="user_act/act_login" />
                <!--#登录界面 end-->
            </case>
            <case value="register">
                <include file="user_act/act_register" />
                <!--#会员注册界面 end-->
            </case>
            <case value="get_password">
                <include file="user_act/act_get_password" />
                <!--*找回密码界面 -->
            </case>
            <case value="qpassword_name">
                <include file="user_act/act_qpassword_name" />
                <!--*通过问题找回密码的确认找回账号界面 -->
            </case>
            <case value="get_passwd_question">
                <include file="user_act/act_get_passwd_question" />
                <!--*根据输入账号显示密码问题界面 -->
            </case>
            <case value="reset_password">
                <include file="user_act/act_reset_password" />
                <!--#找回密码界面 end-->
            </case>
            <defalut/>
        </switch>
        <div class="blank"></div>
        <include file="lbi/page_footer" />
    </body>
    <script type="text/javascript">
    var process_request = "{$lang.process_request}";
    var username_exist = "{$lang.username_exist}";
    </script>

</html>
