<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="userMenu">
    <switch name="action">
        <case value="default">
            <a href="user.php" class="curs">
                <img src="{$Think.const.SHOP_IMG_URL}u1.gif" /> {$lang.label_welcome}
            </a>
        </case>
        <case value="profile">
            <a href="user.php?act=profile" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u2.gif" /> {$lang.label_profile}</a>
        </case>
        <case value="order_list">
            <a href="user.php?act=order_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u3.gif" /> {$lang.label_order}</a>
        </case>
        <case value="order_detail">
            <a href="user.php?act=order_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u3.gif" /> {$lang.label_order}</a>
        </case>
        <case value="address_list">
            <a href="user.php?act=address_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u4.gif" /> {$lang.label_address}</a>
        </case>
        <case value="collection_list">
            <a href="user.php?act=collection_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u5.gif" /> {$lang.label_collection}</a>
        </case>
        <case value="message_list">
            <a href="user.php?Act=message_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u6.gif" /> {$lang.label_message}</a>
        </case>
        <case value="tag_list">
            <a href="user.php?act=tag_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u7.gif" /> {$lang.label_tag}</a>
        </case>
        <case value="booking_list">
            <a href="user.php?act=booking_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u8.gif" /> {$lang.label_booking}</a>
        </case>
        <case value="bonus">
            <a href="user.php?act=bonus" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u9.gif" /> {$lang.label_bonus}</a>
        </case>
        <case value="affiliate">
            <a href="user.php?act=affiliate" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u10.gif" /> {$lang.label_affiliate}</a>
        </case>
        <case value="comment_list">
            <a href="user.php?act=comment_list" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u11.gif" /> {$lang.label_comment}</a>
        </case>
        <case value="track_packages">
            <a href="user.php?act=track_packages" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u12.gif" /> {$lang.label_track_packages}</a>
        </case>
        <case value="account_log">
            <a href="user.php?act=account_log" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u13.gif" /> {$lang.label_user_surplus}</a>
        </case>
        <case value="transform_points">
            <a href="user.php?act=transform_points" class="curs"><img src="{$Think.const.SHOP_IMG_URL}u14.gif" /> {$lang.label_transform_points}</a>
        </case>
        <default/>
    </switch>
    <a href="user.php?act=logout" style="background:none; text-align:right; margin-right:10px;"><img src="{$Think.const.SHOP_IMG_URL}bnt_sign.gif" /></a>
</div>
