<!DOCTYPE html>
<html>

<head>
   
    <include file="commonhtml/in_head"/>
    
    <link rel="alternate" type="application/rss+xml" title="RSS|{$page_title}" href="{$feed_url}" />
    <script src='{$Think.const.SHOP_JS_URL}common.js'></script>
    <script src='{$Think.const.SHOP_JS_URL}user.js'></script>
</head>

<body>
    <include file="lbi/page_header" />
    <!--当前位置 start-->
    <div class="block box">
        <div id="ur_here">
            <include file="lbi/ur_here" />
        </div>
    </div>
    <!--当前位置 end-->
    <div class="blank"></div>
    <div class="block clearfix">
        <!--left start-->
        <div class="AreaL">
            <div class="box">
                <div class="box_1">
                    <div class="userCenterBox">
                        <include file="lbi/user_menu" />
                    </div>
                </div>
            </div>
        </div>
        <!--left end-->
        <!--right start-->
        <div class="AreaR">
            <div class="box">
                <div class="box_1">
                    <div class="userCenterBox boxCenterList clearfix" style="_height:1%;">
                        <switch name="action">
                            <case value="default">
                                <!-- *用户中心默认显示页面 start-->
                                <include file="user_act/act_default" />
                            </case>
                            <case value="message_list">
                                <!-- *我的留言 start-->
                                <include file="user_act/act_message_list" />
                            </case>
                            <case value="comment_list">
                                <!-- *我的评论 start-->
                                <include file="user_act/act_comment_list" />
                            </case>
                            <case value="tag_list">
                                <!-- *我的标签 start-->
                                <include file="user_act/act_tag_list" />
                            </case>
                            <case value="collection_list">
                                <!-- *收藏商品列表页面 start-->
                                <include file="user_act/act_collection_list" />
                            </case>
                            <case value="booking_list">
                                <!-- *缺货登记列表页面 start-->
                                <include file="user_act/act_booking_list" />
                            </case>
                            <case value="add_booking">                               
                                <include file="user_act/act_add_booking" />
                            </case>
                            <case value="affiliate">
                                <!-- *我的推荐 start-->
                                <include file="user_act/act_affiliate" />
                            </case>
                            <default/>
                        </switch>
                        <!-- *我的推荐 -->
                        <!-- /我的推荐 -->
                    </div>
                </div>
            </div>
        </div>
        <!--right end-->
    </div>
    <div class="blank"></div>
    <include file="lbi/page_footer"/>
</body>
<include file="js_lang_htm/lang_clips_js.html"/>

</html>
