<!DOCTYPE html>
<html>

<head>
    <notempty name="ur_here">
        <title>{$lang.cp_home} - {$ur_here}</title>
        <else/>
        <title>{$lang.cp_home}</title>
    </notempty>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{$Think.const.SHOPADM_CSS_URL}general.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.SHOPADM_CSS_URL}main.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    body {
        color: white;
    }
    </style>
    <!-- <script src="{$Think.const.SHOPADM_JS_URL}jquery-2.1.0.min.js" type="text/javascript"></script> <script src="{$Think.const.SHOPADM_JS_URL}easyform.js" type="text/javascript"></script>
    <link href="{$Think.const.SHOPADM_CSS_URL}easyform.css" rel="stylesheet" type="text/css" /> -->
    <!-- <script language="JavaScript">
    if (window.parent != window) {
        window.top.location.href = location.href;
    }
    </script> -->
    <include file="comhtm:in_easyform"/>
    <include file="comhtm:js_languages"/>
</head>

<body style="background: #278296">
    <form method="post" action="" id="theForm">
        <table cellspacing="0" cellpadding="0" style="margin-top: 100px" align="center">
            <tr>
                <td><img src="{$Think.const.SHOPADM_IMG_URL}login.png" width="178" height="256" border="0" alt="ECSHOP" /></td>
                <td style="padding-left: 50px">
                    <table>
                        <tr>
                            <td>{$lang.label_username}</td>
                            <td>
                                <input type="text" name="username" id="username" />
                            </td>
                        </tr>
                        <tr>
                            <td>{$lang.label_password}</td>
                            <td>
                                <input type="password" name="password" id="password" />
                            </td>
                        </tr>
                        <php>$gd_version = gd_version();</php>
                        <if condition="$gd_version gt 0">
                            <tr>
                                <td>{$lang.label_captcha}</td>
                                <td>
                                    <input type="text" name="captcha" id="captcha" class="capital" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">                                
                                    <img id="check_img" src="/train/Admin/Checkcode/index?&height=40&width=145&font_size=20&" width="145" height="40" border="1" onclick='this.src="__ROOT__/Admin/Checkcode/index?&height=40&width=145&font_size=20&time=" +Math.random()' style="cursor: pointer;" title="{$lang.click_for_another}" />
                                </td>
                            </tr>
                        </if>
                        <tr>
                            <td colspan="2">
                                <input type="checkbox" value="1" name="remember" id="remember" data-easyform="null;" />
                                <label for="remember">{$lang.remember}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="submit" id="submit" value="{$lang.signin_now}" class="button" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">&raquo; <a href="../" style="color:white">{$lang.back_home}</a> &raquo; <a href="get_password.php?act=forget_pwd" style="color:white">{$lang.forget_pwd}</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <script language="JavaScript">
    $(document).ready(function() {

        var v = $('#theForm').easyform();

        var login_url = '{:U("Login/login")}';

        $('#submit').click(function() {
            var login_data = $('#theForm').serializeArray();
            if (v.is_submit) {
                $.ajax({
                    type: "POST",
                    url: login_url,
                    data: login_data,
                    // dataType: "json",
                    success: function(obj) {
                        if(obj.statu == '1'){
                            location.href=obj.callback;
                        }
                        else{console.log(obj);
                            alert(obj.info);
                            $('#check_img').trigger('click');
                        }
                    },
                    error: function(obj) {
                        console.log(obj);
                    }
                });
            } else {
                return false;
            }
        });

    });
    </script>
</body>
