<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <notempty name="ur_here">
        <title>{$lang.cp_home} - {$ur_here}</title>
        <else/>
        <title>{$lang.cp_home}</title>
    </notempty>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{$Think.const.SHOPADM_CSS_URL}general.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.SHOPADM_CSS_URL}main.css" rel="stylesheet" type="text/css" />
    <script src="{$Think.const.SHOP_JS_URL}transport.js" type="text/javascript"></script>
    <script src="{$Think.const.SHOP_JS_URL}common.js" type="text/javascript"></script>
    <include file="comhtm:js_languages" />
</head>

<body>
    <h1>
<notempty name="action_link">
	<span class="action-span"><a href="{$action_link.href}">{$action_link.text}</a></span>	
</notempty>
<notempty name="action_link2">
	<span class="action-span"><a href="{$action_link2.href}">{$action_link2.text}</a>&nbsp;&nbsp;</span>
</notempty>

<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
<span id="search_id" class="action-span1">
<notempty name="ur_here"> - {$ur_here}</notempty>
</span>
<div style="clear:both"></div>
</h1>
</body>
