<include file="js_lang_htm/lang_account_js" />
<h5><span>{$lang.user_balance}</span></h5>
<div class="blank"></div>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
    <tr>
        <td align="right" bgcolor="#ffffff">
            <a href="{:U('User/index',array('act'=>'account_deposit'))}" class="f6">{$lang.surplus_type_0}</a> |
            <a href="{:U('User/index',array('act'=>'account_raply'))}" class="f6">{$lang.surplus_type_1}</a> |
            <a href="{:U('User/index',array('act'=>'account_detail'))}" class="f6">{$lang.add_surplus_log}</a> |
            <a href="{:U('User/index',array('act'=>'account_log'))}" class="f6">{$lang.view_application}</a>
        </td>
    </tr>
</table>
