<notempty name="links">
    <div id="bottomNav" class="box">
        <div class="box_1">
            <div class="links clearfix">
                <foreach name="links['img']" item="link">
                    <a href="{$link.url}" target="_blank" title="{$link.name}"><img src="{$link.logo}" alt="{$link.name}" border="0" /></a>
                </foreach>
                <foreach name="links['txt']" item="link">
                    [<a href="{$link.url}" target="_blank" title="{$link.name}">{$link.name}</a>]
                </foreach>
            </div>
        </div>
    </div>
</notempty>
