<script type="text/javascript">
var process_request = "{$lang.js_languages.process_request}";
var todolist_caption = "{$lang.js_languages.todolist_caption}";
var todolist_autosave = "{$lang.js_languages.todolist_autosave}";
var todolist_save = "{$lang.js_languages.todolist_save}";
var todolist_clear = "{$lang.js_languages.todolist_clear}";
var todolist_confirm_save = "{$lang.js_languages.todolist_confirm_save}";
var todolist_confirm_clear = "{$lang.js_languages.todolist_confirm_clear}";
</script>
