<script type="text/javascript">
var bonus_sn_empty = "{$lang.profile_js.bonus_sn_empty}";
var bonus_sn_error = "{$lang.profile_js.bonus_sn_error}";
var email_empty = "{$lang.profile_js.email_empty}";
var email_error = "{$lang.profile_js.email_error}";
var old_password_empty = "{$lang.profile_js.old_password_empty}";
var new_password_empty = "{$lang.profile_js.new_password_empty}";
var confirm_password_empty = "{$lang.profile_js.confirm_password_empty}";
var both_password_error = "{$lang.profile_js.both_password_error}";
var msg_blank = "{$lang.profile_js.msg_blank}";
var no_select_question = "{$lang.profile_js.no_select_question}";
</script>
