<script type="text/javascript">
var consignee_not_null = "{$lang.flow_js.consignee_not_null}";
var country_not_null = "{$lang.flow_js.country_not_null}";
var province_not_null = "{$lang.flow_js.province_not_null}";
var city_not_null = "{$lang.flow_js.city_not_null}";
var district_not_null = "{$lang.flow_js.district_not_null}";
var invalid_email = "{$lang.flow_js.invalid_email}";
var address_not_null = "{$lang.flow_js.address_not_null}";
var tele_not_null = "{$lang.flow_js.tele_not_null}";
var shipping_not_null = "{$lang.flow_js.shipping_not_null}";
var payment_not_null = "{$lang.flow_js.payment_not_null}";
var goodsattr_style = "{$lang.flow_js.goodsattr_style}";
var tele_invaild = "{$lang.flow_js.tele_invaild}";
var zip_not_num = "{$lang.flow_js.zip_not_num}";
var mobile_invaild = "{$lang.flow_js.mobile_invaild}";
</script>