<script type="text/javascript">
var username_empty = "{$lang.passport_js.username_empty}";
var username_shorter = "{$lang.passport_js.username_shorter}";
var password_empty = "{$lang.passport_js.password_empty}";
var password_shorter = "{$lang.passport_js.password_shorter}";
var confirm_password_invalid = "{$lang.passport_js.confirm_password_invalid}";
var email_empty = "{$lang.passport_js.email_empty}";
var email_invalid = "{$lang.passport_js.email_invalid}";
var agreement = "{$lang.passport_js.agreement}";
var msn_invalid = "{$lang.passport_js.msn_invalid}";
var qq_invalid = "{$lang.passport_js.qq_invalid}";
var home_phone_invalid = "{$lang.passport_js.home_phone_invalid}";
var office_phone_invalid = "{$lang.passport_js.office_phone_invalid}";
var mobile_phone_invalid = "{$lang.passport_js.mobile_phone_invalid}";
var msg_un_blank = "{$lang.passport_js.msg_un_blank}";
var msg_un_length = "{$lang.passport_js.msg_un_length}";
var msg_un_format = "{$lang.passport_js.msg_un_format}";
var msg_un_registered = "{$lang.passport_js.msg_un_registered}";
var msg_can_rg = "{$lang.passport_js.msg_can_rg}";
var msg_email_blank = "{$lang.passport_js.msg_email_blank}";
var msg_email_registered = "{$lang.passport_js.msg_email_registered}";
var msg_email_format = "{$lang.passport_js.msg_email_format}";
var msg_blank = "{$lang.passport_js.msg_blank}";
var no_select_question = "{$lang.passport_js.no_select_question}";
var passwd_balnk = "{$lang.passport_js.passwd_balnk}"; 
</script>
