<script type="text/javascript">
var username_not_null = "{$lang.flow_login_register.username_not_null}";
var username_invalid = "{$lang.flow_login_register.username_invalid}";
var password_not_null = "{$lang.flow_login_register.password_not_null}";
var email_not_null = "{$lang.flow_login_register.email_not_null}";
var email_invalid = "{$lang.flow_login_register.email_invalid}";
var password_not_same = "{$lang.flow_login_register.password_not_same}";
var password_lt_six = "{$lang.flow_login_register.password_lt_six}";
</script>
